<div class="container">
  <div class="subscribe">
    <h3 class="subscribe__title">-F.스콧 핏제랄드-</h3>
    <p class="subscribe__subtitle">한 번 실패와 영원한 실패를 혼동하지 마라.</p>
    <form class="subscribe-form validate" action="{% if site.data.settings.mailchimp %}//{{site.data.settings.mailchimp}}{% else %}#{% endif %}"
      method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
      <div class="subscribe-group">
        <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
        <input class="subscribe__email required email" id="mce-EMAIL" type="text" name="EMAIL"
          placeholder="Enter your email...">
      </div>
    </form>
  </div>
</div>